body {
    background: #cdcdcd;
    color: rgb(46, 59, 86);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 300;
}

section, header {
    width: 80%;
    max-width: 600px;
    margin:auto;
}

section, header {
    margin-bottom: 4rem;

}

header h1, h2 {
    font-family: "Montserrat", sans-serif;
     margin: 5rem 0 1rem 0;
}

h1 {
    font-size: 5.960rem;
    line-height: 1;
}

h2 {
    font-size: 1.930rem;
    color: rgb(205, 89, 0);
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.000rem;
    line-height: 0.01;
    color: rgb(35, 35, 35);
}

p {
    line-height:1.6;
    font-size: 0.9rem;
}

blockquote {
    font-family: "Baskervville", serif;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    max-width: 500px;
    padding: 0.1rem 0;
    text-indent: -0.6rem;
}