body {
    background: #cdcdcd;
    color: rgb(46, 59, 86);
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 300;
}

section, header {
    width: 80%;
    max-width: 700px;
    margin:auto;
}

section, header {
    margin-bottom: 4rem;

}

header h1, h2 {
    font-family: "Montserrat", sans-serif;
     margin: 5rem 0 1rem 0;
}

h1 {
    font-size: 5.960rem;
    line-height: 1;
}

h2 {
    font-size: 1.930rem;
    color: rgb(205, 89, 0);
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.000rem;
    line-height: 0.01;
    color: rgb(35, 35, 35);
}

p {
    line-height:1.6;
    margin-top: 15px;
    font-size: 0.9rem;
}

p1 {
    line-height:1.6;
    margin-bottom: -0.5px;
    font-size: 1.2rem;
}

blockquote {
    font-family: "Baskervville", serif;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    float: left;
    max-width: 500px;
    padding: 0.1rem 0;
    text-indent: -0.2rem;
    width: 300px;
}


/*-- Styling Links --*/

a {
    color:rgb(232, 116, 28);
    text-decoration: none;
    border-bottom: 2px dotted;
    font-weight: bold;
}

/*-- Navigation --*/

.responsivenav{
    background: rgb(46, 59, 86);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 4rem;
    color:rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-left: 35px;
}

nav {
    display: flex;
    padding:1.5rem 0;

}

nav ul {
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav a {
    border-bottom: none;
    color:rgb(255, 255, 255);
    padding: 10px;
}

nav a hover {
    color:rgb(232, 116, 28);
    transition: all;
}

/*-- Styling the footer --*/

footer {
    background: rgb(46, 59, 86);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem 0
}

.light {
    background-color: rgb(186, 186, 186);
}

/*-- Adding responsive images --*/

@media (max-width: 600px) {
header, h1 {
    font-size: 4rem;
}

.intro h2 {
    font-size: 1.5rem;
}

.gridimage{
    display:grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

}

.alignleft	{float: left;
	margin-right: 2em}


.alignright	{float: right;
	margin-left: 2em}

p     {line-height: 2em}

.img-container {
  float: left;
  width: 35%;
  position: relative;
  padding: 5px;
  margin-top: 20px;
  text-align: right;
}

.img-container2 {
    float: right;
    margin-top: 50px;

}